body{
    background-color: black;
    color: aliceblue;
}
#left{
    background-color: #220066;
    background-image: linear-gradient(to bottom, #220066, #000);
    text-align: justify;
    height: 90%;
    width: 48%;
    padding: 10px;
    padding-top: 20px;
    float: left;
    font-size: larger;
}
#right{
    /*background-color: #000;*/
    background-image: linear-gradient(to bottom right, #760000, #000000);
    height: 90%;
    width: 99%;
    padding: 10px;
    padding-top: 20px;
    float: left;
    font-size: larger;
}
img{
    border-radius: 5px;
}
#intro{
    height: 100%;
}
.small-image{
    height: 50px;
    width: 50px;
}
#about{
    /*background-color: #3b064f;*/
    background-image: linear-gradient(to bottom right, #265E00, #000000);
    text-align: justify;
    height: 100%;
    width: 98%;
    padding: 20px;
    font-size: larger;
}
#contact{
    /*background-color: #3b064f;*/
    background-image: linear-gradient(to bottom right, #3b064f, #000000);
    text-align: justify;
    height: 100%;
    width: 100%;
    padding: 10px;
    /*margin-top: 30px;*/
    letter-spacing: 0.5px;
    line-height: 130%;
    font-size: 20px;
}
#nav{
    padding-top: 10px;
    padding-bottom: 10px;
}
.links{
    text-decoration: none;
    color: #33cc33;
    /*background-color: aqua;*/
    border: 2px solid red;
    padding: 10px 25px;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
}
.links:visited{
    color: #33cc33;
}
.links:active{
    color: red;
}
.links:hover{
    cursor: pointer;
    font-size: 125%;
}
#deets{
    font-size: 25px;
    font-family: Ubuntu, sans-serif;
    line-height: 130%;
}
#link{
    text-decoration: none;
    color: aliceblue;
}
